@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 00px;
  margin: 00px;
  overflow-x: hidden;
}

input[type="radio"]:checked {
  background-color: green
}

.group_active{
  position: relative;
  top: -28px;
  left: 12px;
}

.notif_active{
  position: relative;
  top: -45px;
  left: 36px;

}

.badge1_active{
  position: relative;
  top: -48px;
  left: 94px;
}

.spin-loader-position {
  position: absolute;
  top: 350px;
  left: 630px;
}